.theme-card {
    cursor: pointer;
    background-color: rgb(247, 209, 38) !important;
    
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100px;
    
    font-weight: 500;

    transition: 0.2s all ease-in-out;
    
    &:hover {
        box-shadow: 0 0 4px 4px rgba(83, 83, 83, 0.1);
    }
}